<!--<div>
<%= form_for @article, url: articles_path,  html: { multipart: true } do |f| %>
  <ul>
    <% @article.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.label :category %><br />
    <%= f.select :category_id, Category.all.map{|cat|[cat.name,cat.id]} %>
  </p>
  <div class="field form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>-->
<div class="card">
  <div class="card-header text-center h2 text-muted">
    Life'n'Style
  </div>
  <div class="card-body">
    <%= form_with(model: @article, local: true) do |form| %>
      <%= render 'shared/errors', object: form.object %>
      <div class="field form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control', autofocus: true %>
      </div>
      <div class="field form-group">
        <%= form.label :text %>
        <%= form.text_area :text, class: 'h5 font-weight-bold form-control' %>
      </div>
      <div class="field form-group">
        <%= form.label :image %>
        <%= form.file_field :image, class: 'btn btn-secondary btn-block' %>
      </div>
      <div class="form-group">
        <%= form.label :category_id, 'Category' %>
        <%= form.collection_select :category_id, Category.order(:name), :id, :name, {},{class: "form-control"} %>
      </div>
      <div class="actions">
        <%= form.submit class: 'form-control btn btn-info btn-block' %>
      </div>
    <% end %>
  </div>
</div>
