<h1>Articles#index</h1>
<div class="mother-feature">
  <div class="featured" style="background-image: url(<%= featured_image(@featured) %>);">
    <p class="theme-color feature-title"> <%= featured_title_link(@featured) %></p>
    <p class="feature-text"> <%= featured_content(@featured) %></p>
  </div>
  <div class="grid-h">
    <% @categories.each do |category| %>
      <div class='category'
             style="background-image: url(<%= latest_article_background(category) %>);">
        <p> <%= link_to category.name, category_path(category) %></p>
        <span> <%= category_article_link(category) %></span>
      </div>
    <% end %>
  </div>
</div>
