<div class="card">
  <div class="card-header text-center h2 text-muted">
    Life'n'Style
  </div>
  <div class="card-body">
    <%= form_for @user do |f| %>
      <%= render "shared/errors", object: @user %>
      <div class="field form-group">
        <%= f.label :username %><br />
        <%= f.text_field :username, required: true, minlength: 3, class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :password %>
        <%= f.password_field :password, required: true, minlength: 7, class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "Sign up", class: 'form-control btn btn-info btn-block' %>
      </div>
    <% end %>
  </div>
</div>
