<div class="container mt-5">
  <h2 class="text-center h1 mb-3">Log in</h2>
  <div class="row">
    <div class="col-md-4 offset-4">
      <div class="card">
        <div class="card-header text-center h2 text-muted">
          Life'n'Style
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field form-group">
              <%= f.label :username %><br />
              <%= f.text_field :username, autofocus: true, class: "form-control" %>
            </div>
            <div class="field form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
            <div class="actions">
              <%= f.submit "Log in", class: 'form-control btn btn-info btn-block' %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-center my-3"><span class="text-muted">Don't have an Account?</span>  <%= render "devise/shared/links" %></div>
    </div>
  </div>
</div>
