<%# <p id="notice"><%= notice %></p>
<%# <p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<%# <p>
  <strong>Priority:</strong>
  <%= @category.priority %>
</p>
<%# <%= link_to 'Edit', edit_category_path(@category) %> | 
<%# <%= link_to 'Back To Categories', categories_path %>
<%# ======================================================================== %>
<div class="grid-c">
  <% @category_articles.each_with_index do |article, index| %>
    <div>
      <% if article.image.attached? %>
        <%# <%= rails_blob_url(odd_article_image(index, article)) %>
        <%= image_tag(article.image) if index.odd? %>
      <% end %>
      <div class="content">
        <div class="jumbotron">
          <h1 class="theme-color"><%= @category.name %></h1>
          <p><%= link_to category_article_title(article), article_path(article), class: 'nav-theme underline' %></p>
          <p class="lead"><%= category_article_text(article) %></p>
          <p>More info</p>
          <span class="theme-color"><%= number_of_votes(article) %> </span>
          <p class="lead">
            <a class="btn btn-primary btn-lg"><%= vote_button(article) if @current_user %></a>
          </p>
        </div>
        <%# <p class="theme-color"><%= @category.name %></p>
       %>
      <%# <p><%= link_to category_article_title(article), article_path(article), class: 'nav-theme underline' %></p>
     %>
    <%# <p><%= category_article_text(article) %></p>
   %>
  <%# <p>Author: <%= author_name(article) %></p>
 %>
<%# <span class="theme-color"><%= number_of_votes(article) %> </span> %>
<%# &nbsp; <%= vote_button(article) if @current_user %><br />
 %>
</div>
<%# <%= even_article_image(index, article) %>
<% if article.image.attached? %>
  <%# <%= rails_blob_url(odd_article_image(index, article)) %>
  <%= image_tag(article.image) if index.even? %>
<% end %>
</div>
<% end %>
</div>
