<div class="grid-container mt-0">
  <% @category_articles.each_with_index do |article, index| %>
    <div>
      <% if article.image.attached? %>
        <div class="img">
          <%= image_tag(article.thumbnail) if index.odd? %>
        </div>
      <% end %>
      <div class="content">
        <div>
          <div class="card-body">
            <h5 class="card-title main-text-color underline cat_name-color w-25"><%= @category.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= link_to category_article_title(article), article_path(article), class: 'cat_name-color' %></h6>
            <p class="card-text"><%= category_article_text(article) %></p>
            <p><%= link_to "Read More", article, class: 'text-light-orange' %> </p>
            <span class="main-text-color card-link"><%= number_of_votes(article) %> </span>
            <%= vote_button(article) if @current_user  %>
          </div>
        </div>
      </div>
      <% if article.image.attached? %>
        <%= image_tag(article.thumbnail) if index.even? %>
      <% end %>
    </div>
  <% end %>
</div>
